
dbt-core==1.4.4
dbt-tests-adapter==1.4.4
dbt-bigquery==1.4.1
black==22.8.0
bumpversion
flake8
flaky
freezegun==1.1.0
mypy==0.971
pip-tools
pre-commit
pytest
pytest-dotenv
pytest-logbook
pytest-csv
pytest-xdist
pytz
tox>=3.13
types-requests
twine
wheel
